table thead tr{
    background-color: blue;
    font-weight: bold;
}
table, tr, td, th{
    border: solid black 2px;
    border-collapse: collapse;
    text-align: center;
}
tbody tr:nth-child(2n){
    background-color: aqua;
}
tbody tr:hover{
    background-color: red;
}
.hehe{
    font-weight: bold;
}